<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.exsilicium.unsubscriber"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".WebViewActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*"
                    android:pathPattern=".*optout.*"
                    android:scheme="http"
                    />
                <data
                    android:host="*"
                    android:pathPattern=".*optout.*"
                    android:scheme="https"
                    />
                <data
                    android:host="*"
                    android:pathPattern=".*unsub.*"
                    android:scheme="http"
                    />
                <data
                    android:host="*"
                    android:pathPattern=".*unsub.*"
                    android:scheme="https"
                    />
            </intent-filter>
        </activity>
    </application>
</manifest>
